@font-face{
    font-family: LCDU;
    src: url("../fuentes/LCDU/LCDU.woff");
}


body{
    text-align: center;
}

h1{
    font-family: LCDU;
    margin-top: 10%;
    font-size: 50px;
    color: red;
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black;
    text-shadow: 2px 2px black;
    letter-spacing: 10px;
    padding: 10px;
}

h2{
    font-family: LCDU;
    padding: 10px;    
}